body{
	padding: 10px;
}

h1{
	margin-bottom: 50px;
}


.row form .radio-inline input{	
	margin-top: -21px;
}

.row form .btn{
	margin-left: 20px;
}

.row form .checkbox{s	
	width: 20%;
}

.row form .checkbox input{
	margin-left: 0px;
	position:static;
	float: left;	
}

#form_prog_langs{
	margin-top: 30px;
}

#form_prog_langs .btn{
	margin-left: 100px;
	margin-top: 10px;
}

.form-file{	
	max-width: 200px;
	margin-top: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;	
	left: -20px;
}
.btn-file input[type=file] {	
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

table.table{
	margin-top: 30px;
}

table.table img{
	max-width: 200px;
	max-height: 100%;
}